/*
Theme Name: UWI Zika Portal
Theme URI: http://uwi.edu/zika
Description: UWI Zika Portal 2016
Version: 1.0
Author: VIRB Limited
Author URI: http://www.chooseavirb.com
*/

/* @group Global Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     border: 0pt none;
     margin: 0pt;
     padding: 0pt;
     vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}

body {
     line-height: 1;
}

ol, ul {
     list-style: none outside none;
}

blockquote, q {
     quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
     content: none;
}

table {
     border-collapse: collapse;
     border-spacing: 0pt;
}

table.pad td {
     padding: 10px;
}

pre, code {
     background-color: #EDEDED;
     border-bottom: 1px solid #D9D9D9;
     border-top: 1px solid #D9D9D9;
     display: block;
     font: 12px/24px Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
     margin: 5px 0pt;
     padding: 5px;
     white-space: normal;
     width: 100%;
}

p code {
     display: inline;
}

body {

}

html {
    
}

.text-shadow {
     text-shadow: 0.02em 0.03em 0.1em #666666;
}



/* SITE DEFINITIONS */

body{
	color: #27383D;
	font: 18px 'Franklin',Helvetica, Arial, sans-serif;
	line-height:1.2;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	overflow-x: hidden;
  background:#fff url(images/bg_header.png) center top repeat-x;
}


/* FONTS */

h1 { 
	 font-size:72px;
	line-height: 1.2;
	color: #008C73;
	font-family:'Aileron',Helvetica,Arial,sans-serif;
	/*background: transparent url('images/inside/bg_h1.png') bottom center no-repeat;*/
  padding-bottom:30px;
  font-weight:normal;
	}
	
.home h2, .inside h2 {
    font-size: 32px;
    line-height: 1.2;
    color:#27383D;
    font-family: 'Montserrat',Helvetica,Arial,sans-serif;
    margin-bottom: 30px;
	padding-bottom:15px;
  letter-spacing:0px;
  font-weight:normal;
}


h3, .inside h3 {
	font-size: 26px;
	line-height: 1.2;
	color:#4B3F5E;
	font-family: 'Montserrat',Helvetica, Arial, sans-serif;
	margin: 0em 0 0.6em 0;
	letter-spacing:0px;
	font-weight:normal;
	  }

h4, .inside h4 { 
font-size: 19px;
line-height: 1.2;
font-family: 'Montserrat',Helvetica,Arial,sans-serif;
letter-spacing: 0px;
margin: 20px 0 15px 0;
font-weight:700;
color:#004C66;
}

h5, .inside h5{
font-family: 'Franklin_Demi',Helvetica,Arial,sans-serif;
font-size:17px;
margin-bototm:10px;
font-weight:normal;
}

h6, .inside h6 {
color:#004C66;
font-family: 'Montserrat',Helvetica,Arial,sans-serif;
text-transform:uppercase;
margin-bototm:10px;
  font-size:17px;
}

p,.inside p,td p,.inside td p, .home p {
     color: #27383D;
  padding-bottom:10px;
  margin-bottom:10px;
font: 18px/1.4 'Franklin',Helvetica,Arial,sans-serif;
}

ul {
     margin-left: 0px;
     padding-left: 0px;

}

ol {
  margin-left: 0px;
     padding-left: 0px;  
}

li {
     list-style-type: none;
     margin-left: 0px;
     padding-left: 0px;
}

strong {
	 font-weight:bold;
}

#copy blockquote, #copy blockquote p {
color: #358039;
font-size: 22px;
 padding: 39px 35% 30px 70px;
  margin-top:0em;
  float:left;
  width:85%;
    text-align:left;
  line-height:1.24em;
  letter-spacing:0px;
  background: transparent url('images/inside/bg_blockquote.png') left top no-repeat;
}

#copy .blockquote-author{
 float:left;
  width:100%;
  background: transparent url(images/inside/bg_blockquote_author.png )left 3px no-repeat;
  padding-left:200px;
  margin-bottom:20px;
  color: #358039;
  	font-family: 'Franklin_Demi',Helvetica,Arial,sans-serif;
	margin-left: 4.5em;

}

.su-row blockquote p {
width:95%;	
}

a, a strong, a:visited, .inside #words a {
text-decoration:none;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
transition: all 0.2s linear;
color:#358039;
}

a:hover, .inside #words a:hover {
     color:#80BD01;
}

img {
   max-width: 100%;
    height: auto;
}

img a, a img, a img:hover, img a:hover {
     border: none;
}

hr {
     margin: 30px 0 30px 0px;
     padding: 0pt;
width:100%;
float:left;
 border: 0; border-bottom: 1px dotted #008C74; background: #fff;
}

small, .inside small, .font_small, .inside small a {font-size: 16px;}

input {
font: 16px  Helvetica, Arial, sans-serif;
}



/* FONT-FACE */


@font-face {
    font-family: 'Franklin_demi';
    src: url('fonts/FranklinGothic-Demi-webfont.eot');
    src: url('fonts/FranklinGothic-Demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FranklinGothic-Demi-webfont.woff2') format('woff2'),
         url('fonts/FranklinGothic-Demi-webfont.woff') format('woff'),
         url('fonts/FranklinGothic-Demi-webfont.ttf') format('truetype'),
         url('fonts/FranklinGothic-Demi-webfont.svg#franklin_gothic_fsdemi') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Franklin';
    src: url('fonts/FranklinGothic-Book-webfont.eot');
    src: url('fonts/FranklinGothic-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FranklinGothic-Book-webfont.woff2') format('woff2'),
         url('fonts/FranklinGothic-Book-webfont.woff') format('woff'),
         url('fonts/FranklinGothic-Book-webfont.ttf') format('truetype'),
         url('fonts/FranklinGothic-Book-webfont.svg#franklin_gothic_fsbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron';
    src: url('fonts/aileron-thin-webfont.eot');
    src: url('fonts/aileron-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aileron-thin-webfont.woff2') format('woff2'),
         url('fonts/aileron-thin-webfont.woff') format('woff'),
         url('fonts/aileron-thin-webfont.ttf') format('truetype'),
         url('fonts/aileron-thin-webfont.svg#aileronultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* COMMON STYLES */

.box-grey {
	background-color:#D8DADD;
}

.box-teal {
	background-color:#008C74;
}

.box-purple {
	background-color:#3C324B;
}

.box-green {
	background-color:#48AB4D;
}

.box-blue {
	background-color:#004C66;
}

.box-yellow {
	background-color:#F0D543;
}

.box-teal h2,.box-teal h3,.box-purple h3,.box-green h2,.box-green h3,.box-green h4,.box-green p, .box-blue h2 {
color:#fff;	
}

.box-yellow h2,.box-yellow h3,.box-yellow p, .box-yellow h2 {
color:#000;	
}

.box-teal h2, .box-teal h3, .box-teal p, .box-teal ul,
.box-purple h2, .box-purple h3, .box-purple p, .box-purple ul,
.box-green h2, .box-green h3, .box-green p, .box-green ul, .box-green h4,
.box-blue h2, .box-blue h3, .box-blue p, .box-blue ul
{
padding-left:20px;	
padding-right:10px;
}

.box-stripe {
	background: transparent url(images/inside/stripe_59.png) left top repeat;
}

.full {
width: 100%;
box-sizing: border-box;
clear: both;	
}

.box-half {
float:left;
width:50%;
}

.box-quarter {
	float:left;
	width:25%;
}


/* STRUCTURE */


#wrapper {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#header {
  height:215px;
position:relative;
  padding-top:40px;
}

#headercontent {
text-align:left; 
z-index:890;
padding-bottom:2em;
}

#header #logo {
height:auto;
  z-index:80;
  margin:0em 0;
  padding-top: 0px;
}

#mainnav {
margin-top:20px; -webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	transition: all 0.1s linear;
  text-align:center;
 }

#mainnav ul {
text-align:left;
}

#mainnav li {
 font-family:'Franklin_Demi',Helvetica,Arial,sans-serif;
line-height:1.8;
  letter-spacing:1px;
}

#mainnav li a {
  color:#26383D;
}

#mainnav li a:hover, .home #mainnav li#first a, .response #mainnav li#second a, .taskforce #mainnav li#third a, .situation #mainnav li#fourth a, .coverage #mainnav li#fifth a, .qa #mainnav li#sixth a, .resources #mainnav li#seventh a, .contact #mainnav li#eighth a{
  color:#F0D543;
  color:#fff;
}


#mobiletoggle {
	display:none;
}




/* Footer */
#footer {
     float: left;
     margin: 0px auto;
     width: 100%;
font-size:0.9em;
  position:relative;
  padding-bottom:4em;
  margin-top:2em;
}

#footer #footer-content  {
border-top:5px solid #D8DADD;
  padding-top:2em;
}

#footer #footer-content ul {
  text-align:right;
}

#footer #footer-content ul li {
  display:inline;
  padding-right:1em;
}

#footer #footer-content ul li:last-child {
 padding:0; 
}

#footer #footer-content ul li a {
  color:#004C66;
}

#footer #footer-content ul li a:hover {
  color:#48AB4D;
}

#jumper {
position:fixed;
bottom:60px;
right:0;
z-index:199;
}


/* HOME */

.home  {
	width:100%;
}

.home #homecontent {
 float:left;
  width:100%;
  height:100%;
  padding-top:2em;
  margin-bottom:20px;
  margin-top:-2px;
  background: transparent url('images/bg_toparea.png') center top no-repeat;
}

.home #homecontent .grid_12 {	
margin-bottom:-5px;
}

.home #toparea {
 position:relative; 
}

.home #homecontent #blurb {
padding-bottom:20px;  
}

.home #blurb h3 {
padding-bottom:10px;
}

.home #blurb p {
font-size:16px;
padding-top:10px;
}


.home #blurb-text {
	padding-left:30px;
}

.home #midarea {
 position:relative;
  /*background:transparent url(images/home/bg_twostripes.png) center center no-repeat;*/
}


.home #midarea  h3 {
	margin-top:15px;
}

.home #midarea #slideshow {
 
}

.home #midarea #blurbs {
	  margin-top:20px;
}

.home #midarea #news-featured {
  padding-top:4em;
}

.home #midarea #news-featured strong {
  line-height:2em;
}


.home #midarea #news-featured p {
  color:#004C66;
  font-family:'Franklin_Demi',Helvetica,Arial,sans-serif;
  line-height:1.2;
   background:transparent url(images/border_short.png) left bottom no-repeat; 
padding-bottom: 30px;
}

.home #midarea #news-featured small {

}

.home #about {
  width:205px;
  padding-top:24px;
  padding-bottom:54px;
}

.home #about,.home #ask-expert img,.home #whoqa img{
 min-width:205px !important; 
}

.home #whatszika.grid_5 {
width: 420px;
overflow: hidden;
}

.home #hashtag {
 padding-top:0em; 
  text-align:right;
  margin-bottom:-7px;
  width: 595px;
}

.home #prevention {
	width:410px;
}

.home #spread {
 padding-top:138px;
  padding-bottom:25px;
 width:400px; 
}

.home #cases {
	width:195px;
}

.home #states {
	width: 390px;
overflow: hidden;
  background:#D8DADD;
  text-align:center;
}

.home #spread:hover,.home #cases:hover,.home #states:hover {
	z-index:80;
}

.home #bottomarea .grid_2 {
width:195px;	
}

.home #infobox.grid_2 {
   width:230px;
  padding-top:152px;
  padding-bottom:54px;
  margin-left:170px;
}


.home #mediacentre h3 {

padding-top: 10px;
}

.home #mediacentre .content li {
 width:48%;
  float:left;
  margin-right:20px;
  min-height:100px;
  border-bottom:1px solid #3C324B;
  margin-bottom:20px;
}

.home #mediacentre .content li:nth-child(2n) {
margin-right:0;  
}

.home #mediacentre .content li small {
 font-size:14px; 
}

.welcome {
	height:100vh;
  float:left;
  width:100%;
  z-index:200;
  position:fixed;
  overflow:hidden;
  display:none;
}

.welcome .grid_12 {
 padding-top:30px; 
}

.welcome .grid_12 h4 {
 font-size:28px;
 padding-top:40px;
 padding-left:0;
}

.welcome .grid_12 p {
padding-left:0;
padding-top:10px;
}

.welcome #close-welcome {
margin-top:30px;	
}

.welcome #close-welcome a {
 font-size:20px; 
  background: #F0D543;
  padding:7px 10px;
  color:#000;
  font-family:'Montserrat',Helvetica,Arial,sans-serif;
  border-radius:3px;
}


.welcome #close-welcome a:hover {
background-color:#3C324B;
color:#fff;
}

.welcome #blurb-vc {
  z-index:20;
}

.welcome #blurb-vc img{
 box-shadow: -20px 20px 60px rgba(0, 0, 0, 0.3);
}


/* INSIDE PAGES */

.inside {
	 
}

.inside #insidecontent {
	float:left;
  width:100%;
  height:100%;
  padding-top:2em;
  margin-bottom:20px;
  margin-top:-2px;
  background: transparent url('images/bg_toparea.png') center top no-repeat; 
}


.inside #toparea {
padding:0em 0 0em 0;
  min-height:200px !important;
  position:relative;
}

.inside #mainpic {
  padding-left:0px;
}

.inside #pagetitle {
padding:10px 0 0em 0;
  margin-bottom:2.4em;
  /*padding-left:25px;*/
background: transparent url(images/inside/bg_pagetitle.png) left top no-repeat; 
top:155px;
left:0;
  z-index:20;
  position:absolute;
  padding-top:20px;
  height:12em;
  padding-left:20px;
}

.inside #sidebar {
	z-index: 40;
position: relative;
margin-top: 80px;
}

.inside #sidebar li{
font-family: 'Franklin_Demi',Helvetica,Arial,sans-serif;
line-height: 1;
padding-bottom: 20px;
background: transparent url(images/inside/bg_sidenav_item.png) bottom left no-repeat;
padding-top: 20px;
}

.inside #sidebar li:last-child {
 background:none; 
}

#sidebar a {
 color:#004C66; 
}

.inside #insidecontent #copy {
margin-top:40px;
  min-height:10em;
  z-index:40;
  position:relative;
}

.inside #copy ul  {
  margin-left:2em;
  margin-bottom:20px;
}


.inside #copy ul li {
display:block;
  padding-bottom:0px;
  padding-left:30px;
    font-size: 18px;
    margin-top: 15px;
width: 85%;
background: transparent url(images/inside/bullet_yellow.png) top left no-repeat;

}


.inside #copy ol {
  list-style-type: none;
    padding-right: 0;	
  margin-bottom:20px;
}

.inside #copy ol li {
display: inline-flex;
  padding-bottom:20px;
    font-size: 18px;
    margin-top: 15px;
  counter-increment: step-counter;
}

.inside #copy ol li::before {
  content: counter(step-counter);
  background: transparent url('images/bg_numberedlist.png') no-repeat scroll left 0px;
   padding: 20px 30px;
  background:#48AB4D;
  color:#fff;
  margin-right:20px;
  display: inline-block;
  margin-right: 10px;
}

.inside #copy .pdf {
  background: transparent url('images/icon_pdf.png') no-repeat scroll left 7px;
   padding: 20px 0 20px 40px;
   border: none;
}

.inside #copy p a,.inside #copy li a {
border-bottom:1px dotted #358039;
padding-bottom:1px;
}


.inside #copy ul#slidebx li {
  background:none;
padding-left:20px;
  text-align:center;
  float:left;
  width:100%;
  margin:0 auto;
}

.inside #copy ul#slidebx li small {
    padding-bottom:20px;
  margin-bottom:20px;
  min-height:60px!important;
  width:80%;
  float:left;
}


.inside #copy .bx-wrapper .bx-controls .bx-pager {
  bottom:-60px;
}




/* THE UWI'S RESPONSE */



/* THE TASK FORCE */

.taskforce #contributors  .box-grey{
  height:150px !important;
}

.taskforce #contributors .grid_9 h4{
  padding-top:0px;
  margin-bottom: 0;
  margin-top:10px;
}

.taskforce #contributors .grid_9 p {
font-size:16px;
  padding-top:10px;
}

.taskforce #contributors .grid_9.box-green {
margin-top:20px;  
}


/* Popups with bios */

.inside.taskforce .fancybox-inner body.blank {
 background:transparent; 
}
.inside.taskforce .fancybox-inner body.blank .grid_10 {
padding-top:2em;  
}

.inside.taskforce .fancybox-inner body.blank .grid_10 p,.taskforce.inside .fancybox-inner body.blank .grid_10 h3 {
padding-bottom:10px;  
}


/* SITUATION REPORT */


.situation #insidecontent table td:first-child {
font-weight:bold;
}

/* MEDIA CENTRE */

.inside.coverage #midarea #copy .grid_3 {
  min-height:180px!important;
  border-bottom:1px solid #3C324B;
  margin-bottom:20px;
}

.inside.coverage #midarea #copy .grid_3 h4 {
  font-size:17px;
  -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.inside.coverage #midarea #copy .grid_3 a h4:hover {
  color:#358039;
}

.inside.coverage #midarea #copy .grid_3 small {
 font-size:14px;
  padding-bottom:10px;
}

/* EVENTS */

.inside.events #midarea #copy .grid_4 {
  min-height:180px!important;
  border-bottom:1px solid #3C324B;
  margin-bottom:20px;
  padding-bottom:10px;
}

.inside.events #midarea #copy .grid_4 h4 {
  font-size:17px;
  -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.inside.events #midarea #copy .grid_4 a h4:hover {
  color:#358039;
}

.inside.events #midarea #copy .grid_4 small {
 font-size:14px;
  padding-bottom:10px;
}


/* Q AND A */





/* RESOURCES */



/* SYMPOSIUM */

.inside.symposium #copy h4 {
  background:#008C74;
  color:#fff;
  padding:10px;
}

.inside.symposium #header #logo {
  
}


/* LIVE STREAM */

#outerdiv {
width:954px;
height:780px;
overflow:hidden;
position:relative;

}

#innerdiv {
position:absolute;
top:-120px;
left:-62px;
width:854px;
height:680px;
clip:rect(260px 854px 780px 0px);
}


.chatting {
margin-top:40px;  
}

.stream #mobilenav, .stream #jumper {
display:none;	
}

/* GENERIC PAGE */

/*.inside.generic  {
	background: transparent url(images/inside/bg_single.jpg) left top repeat-x;
}

.inside.generic  #mainnav {
  padding-bottom:2em;
 background: transparent url(images/inside/bg_mainnav_single.png) left 40px repeat-x; 
}*/

.inside.generic  #mainnav li a:hover,.inside.generic  #mainnav li.current-menu-parent a {
	color:#2D383E;
}



/* 404 PAGE */

.inside.single.new #insidecontent.errorpage  {
	margin-top:-10px;
}

/* TABS */

.container_12 .responsive-tabs__list {
    font-size: 1.2em;
    margin: 1em 0 0 0;
    padding: 0;
    border-bottom: 3px solid #004C66;
    padding-bottom: 11px;
    line-height: 1em;
}

.container_12 .responsive-tabs__list__item {
  padding: 10px 20px;
margin-right: 1em;
border: 0px;
  background:none;
  font-family:'Franklin_Demi',Helvetica,Arial,sans-serif;
  font-size:16px;
  letter-spacing:1px;
text-transform:uppercase;
  color:#008C74;
}


.container_12 .responsive-tabs__list__item--active, .container_12 .responsive-tabs__list__item--active:hover {
    background: transparent url(images/home/bg_tab_live.png) bottom center no-repeat;
border-bottom-color: transparent;
color: #004C66;
padding-bottom: 25px;

}

.container_12 .responsive-tabs .content {
padding-top:30px;  
padding-left:20px;
}

.container_12 .responsive-tabs .content li {
 padding-bottom:1em; 
}



/* TABLES */

.inside #insidecontent table {/* ensures that paddings and margins activate */
width:100%;
border-collapse: separate;
    border-spacing: 0;
  background:transparent;
margin-bottom:2em;
}

#insidecontent table th{
text-transform:uppercase;
font-size:1em;
font-family: 'Franklin_Demi',Helvetica,Arial,sans-serif;
  color:#004C66;
vertical-align:middle;
  font-weight:normal;
padding:15px 0px 15px 10px;
text-align:left;
border-bottom:5px solid #F0D543;
}

#insidecontent table tr,#insidecontent .su-table table tr.su-even {
background:transparent;  
}

#insidecontent table th em{
font-style:normal;
}

#insidecontent table td{
padding:15px 10px;
text-align:left;
vertical-align:top;
font-size:16px;
  border-bottom:1px dotted #BBB9BE;
  line-height:1.4;
}

#insidecontent table td:last-child {
border-right:none;
}

#insidecontent table tr:last-child td{
border-bottom:none;
}

#insidecontent table h2 {
margin-bottom:0.6em;  
}

#insidecontent table p {
line-height:1.4;  
}

#entry-content table td img{
padding-bottom:10px;
}

#entry-content table td li {
text-align:left;
}

#entry-content table td:first-child {
text-align:left;
}


/* Table striping 

#insidecontent #words tr:nth-child(even) { background: #f7f7f7; }
#insidecontent #words tr:nth-child(odd) { background: #fff; }


*/

@media only screen and (min-width: 960px) and (max-width: 1160px) {
  
.home #hashtag {
  width:530px; 
 }

.home #spread {
width:335px;    
 padding-top:145px;   
  }  
  
.home #cases {
    padding-bottom:2px;
  background:#48AB4D;
  }
    
.home #infobox.grid_2 {
  margin-left:0;
  width:335px;
  padding-top:153px;
}

  .home #mediacentre .grid_8.push_1 {
   padding-left:50px; 
  }
  
  
}

