/*
1044px grid system ~ Core CSS.
12 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

.row {margin-bottom:40px;}

/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
	margin-left: auto;
	margin-right: auto;
	width: 1044px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}


.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_1 {width: 67px;}
.container_12 .grid_2 {width: 154px;}
.container_12 .grid_3 {width: 241px;}
.container_12 .grid_4 {width: 328px;}
.container_12 .grid_5 {width: 415px;}
.container_12 .grid_6 {width: 502px;}
.container_12 .grid_7 {width: 589px;}
.container_12 .grid_8 {width: 676px;}
.container_12 .grid_9 {width: 763px;}
.container_12 .grid_10 {width: 850px;}
.container_12 .grid_11 {width: 937px;}
.container_12 .grid_12 {width: 1024px;}

/* =push_ Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .push__1 {padding-left: 87px;}
.container_12 .push__2 {padding-left: 174px;}
.container_12 .push__3 {padding-left: 261px;}
.container_12 .push__4 {padding-left: 348px;}
.container_12 .push__5 {padding-left: 435px;}
.container_12 .push__6 {padding-left: 522px;}
.container_12 .push__7 {padding-left: 609px;}
.container_12 .push__8 {padding-left: 696px;}
.container_12 .push__9 {padding-left: 783px;}
.container_12 .push__10 {padding-left: 870px;}
.container_12 .push__11 {padding-left: 957px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .suffix_1 {padding-right: 87px;}
.container_12 .suffix_2 {padding-right: 174px;}
.container_12 .suffix_3 {padding-right: 261px;}
.container_12 .suffix_4 {padding-right: 348px;}
.container_12 .suffix_5 {padding-right: 435px;}
.container_12 .suffix_6 {padding-right: 522px;}
.container_12 .suffix_7 {padding-right: 609px;}
.container_12 .suffix_8 {padding-right: 696px;}
.container_12 .suffix_9 {padding-right: 783px;}
.container_12 .suffix_10 {padding-right: 870px;}
.container_12 .suffix_11 {padding-right: 957px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .push_1 {left: 87px;}
.container_12 .push_2 {left: 174px;}
.container_12 .push_3 {left: 261px;}
.container_12 .push_4 {left: 348px;}
.container_12 .push_5 {left: 435px;}
.container_12 .push_6 {left: 522px;}
.container_12 .push_7 {left: 609px;}
.container_12 .push_8 {left: 696px;}
.container_12 .push_9 {left: 783px;}
.container_12 .push_10 {left: 870px;}
.container_12 .push_11 {left: 957px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .pull_1 {left: -87px;}
.container_12 .pull_2 {left: -174px;}
.container_12 .pull_3 {left: -261px;}
.container_12 .pull_4 {left: -348px;}
.container_12 .pull_5 {left: -435px;}
.container_12 .pull_6 {left: -522px;}
.container_12 .pull_7 {left: -609px;}
.container_12 .pull_8 {left: -696px;}
.container_12 .pull_9 {left: -783px;}
.container_12 .pull_10 {left: -870px;}
.container_12 .pull_11 {left: -957px;}



@media only screen and (min-width: 960px) and (max-width: 1160px) {
    .container_12 {width:960px;}
    .container_12 .grid_1 {width:60px;}
    .container_12 .grid_2 {width:140px;}
    .container_12 .grid_3 {width:220px;}
    .container_12 .grid_4 {width:300px;}
    .container_12 .grid_5 {width:380px;}
    .container_12 .grid_6 {width:460px;}
    .container_12 .grid_7 {width:540px;}
    .container_12 .grid_8 {width:620px;}
    .container_12 .grid_9 {width:700px;}
    .container_12 .grid_10 {width:780px;}
    .container_12 .grid_11 {width:860px;}
    .container_12 .grid_12 {width:940px;}
    .container_12 .push_1 {padding-left:80px;}
    .container_12 .push_2 {padding-left:160px;}
    .container_12 .push_3 {padding-left:240px;}
    .container_12 .push_4 {padding-left:320px;}
    .container_12 .push_5 {padding-left:400px;}
    .container_12 .push_6 {padding-left:480px;}
    .container_12 .push_7 {padding-left:560px;}
    .container_12 .push_8 {padding-left:640px;}
    .container_12 .push_9 {padding-left:720px;}
    .container_12 .push_10 {padding-left:800px;}
    .container_12 .push_11 {padding-left:880px;}	

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container_12 {width:768px;}
    .container_12 .grid_1 {width:44px;}
    .container_12 .grid_2 {width:108px;}
    .container_12 .grid_3 {width:172px;}
    .container_12 .grid_4 {width:236px;}
    .container_12 .grid_5 {width:300px;}
    .container_12 .grid_6 {width:364px;}
    .container_12 .grid_7 {width:428px;}
    .container_12 .grid_8 {width:492px;}
    .container_12 .grid_9 {width:556px;}
    .container_12 .grid_10 {width:620px;}
    .container_12 .grid_11 {width:684px;}
    .container_12 .grid_12 {width:748px;}
    .container_12 .push_1 {padding-left:64px;}
    .container_12 .push_2 {padding-left:128px;}
    .container_12 .push_3 {padding-left:192px;}
    .container_12 .push_4 {padding-left:256px;}
    .container_12 .push_5 {padding-left:320px;}
    .container_12 .push_6 {padding-left:384px;}
    .container_12 .push_7 {padding-left:448px;}
    .container_12 .push_8 {padding-left:512px;}
    .container_12 .push_9 {padding-left:576px;}
    .container_12 .push_10 {padding-left:640px;}
    .container_12 .push_11 {padding-left:704px;}


}


@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container_12 {width:420px;}
    .container_12 .grid_1,
    .container_12 .grid_2,
    .container_12 .grid_3,
    .container_12 .grid_4,
    .container_12 .grid_5,
    .container_12 .grid_6,
    .container_12 .grid_7,
    .container_12 .grid_8,
    .container_12 .grid_9,
    .container_12 .grid_10,
    .container_12 .grid_11,
    .container_12 .grid_12
 {
        margin:0 0 20px 0;
        width:420px;
    }
    .container_12 .push_1, .container_12 .push_2, .container_12 .push_3, .container_12 .push_4, .container_12 .push_5, .container_12 .push_6, .container_12 .push_7, .container_12 .push_8, .container_12 .push_9, .container_12 .push_10, .container_12 .push_11 {padding-left:0;left:0;}
    .row {margin:0;}

 
  
}

@media (min-width: 320px) and (max-width: 479px) {
    .container_12 {width:300px;}
    .container_12 .grid_1,
    .container_12 .grid_2,
    .container_12 .grid_3,
    .container_12 .grid_4,
    .container_12 .grid_5,
    .container_12 .grid_6,
    .container_12 .grid_7,
    .container_12 .grid_8,
    .container_12 .grid_9,
    .container_12 .grid_10,
    .container_12 .grid_11,
    .container_12 .grid_12
 {
        margin:0 0 20px 0;
        width:300px;
    }
    .container_12 .push_1, .container_12 .push_2, .container_12 .push_3, .container_12 .push_4, .container_12 .push_5, .container_12 .push_6, .container_12 .push_7, .container_12 .push_8, .container_12 .push_9, .container_12 .push_10, .container_12 .push_11 {padding-left:0;left:0;}
    .row {margin:0;}
 
}


/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after,.clearfix:before, .clearfix:after,
.row:before, .row:after,
.container_12:before, .container_12:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
	zoom: 1;
}
