
/* Updated Styles a la Khloe */

.new #footer #feed-instagram {
display:none;	
}

.home .new h2, .home .new h3 {
font-weight:700;
font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;
color: #192F41;
/*text-transform:uppercase;*/
letter-spacing:1px;
}

.new #home-middle .item-text, .new #home-bottom .item-text {
	height: 500px;
margin-top:20px;
}

.new .item-text h3, .new .item-text p, .new .item-text .bn-outline, .new .item-text  ul{
  margin:15px;
}

.new #home-middle .item-text h3, .new #home-middle .item-text p, .new #home-middle .item-text .bn-outline, .new  #home-middle .item-text  ul,.new #home-bottom .item-text h3, .new #home-bottom .item-text p, .new #home-bottom .item-text .bn-outline, .new  #home-bottom .item-text  ul{
margin: 15px 15px 15px 35px;
}


.home .new #home-top {
  padding-top:0;
}

.home .new #home-top #carousel-primary {
 height:700px !important; 
  cursor:pointer;
}


.home .new #home-top #carousel-primary #item-text {
  bottom:40px;
  
}

.home .new #home-top #carousel-primary #item-text h3 {
 font-size:48px;
  line-height:1;
  margin-bottom:10px;
  font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;
}

.home .new #home-top #carousel-primary #item-text p {
 width:70%; 
  font-size:28px;
}

.home .new #home-top #secondarycarousels {
 margin-bottom:-10px; 
 padding-bottom:0; 
}

.home .new #home-top .carousel-secondary .box-half {
margin-bottom: -5px;
background:#80BD01;
max-height: 292px;
overflow: hidden;
  cursor:pointer;
}

.home .new #home-top .carousel-secondary .item-pic img {
 height:292px !important; 
}

.home .new #home-top .carousel-secondary .item-text {
  padding:20px 0 20px 0;
  height: 252px;
  text-align:center;
  	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.home .new #home-top .carousel-secondary .item-text:before {
    content: " ";
    left: -22px;
    top: 43%;
    z-index: 2;
    display: none;
    position: absolute;
    height: 0px;
    width: 0px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #80BD01;
}

.home .new #home-top .carousel-secondary .item-text:hover {
    transform: translateX(-5%);
}  

.home .new #home-top .carousel-secondary .item-text h3 {
  line-height:1.1;
  font-size:28px;
}

.home .new #home-top .carousel-secondary .item-text p {
	line-height:1.1;
  font-size:22px;

}

.home .new #home-top .carousel-secondary .item-text .bn-outline {
  margin-top:20px;
 margin-left:33%; 
}

.home .new #home-updates {
background:#ECECEC url("http://bpartofit.com/wp-content/themes/bp2016/images/home/bg_igfeed.png") no-repeat scroll center 30px;
  text-align:center;
  padding-top:4.5em;
  padding-bottom:1em;
  margin-top:-10px;
}


.home .new #home-updates h3 {
  font-size:28px;
  letter-spacing:1px;
  /*text-transform:uppercase;*/
  margin-bottom:10px;
}

.home .new #home-middle {
background:none;  
}


.home .new #home-updates #gender-filter{
	margin-top:-30px;
}

.home .new #home-middle h3, .home .new #home-bottom h3, .home .new #brewards h2 {
line-height: 1;
color: #fff;
font-size: 40px;
background: none /*transparent url("images/bg_h2_white.png") no-repeat scroll left top*/;
padding-top: 10px;
/*text-transform:uppercase;*/
letter-spacing: 1px;
margin-top: 1em;
font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;
}

.home .new #home-middle p, .home .new #home-bottom p {
font-size:20px;	
}

.home .new #home-middle #campaign {
padding-bottom: 0px;
padding-top: 0px;	
  position:relative;
  margin-bottom:2em;
}

.home .new #home-middle #campaign .item-pic {
 width: 603px;
height: 738px; 
}

.home .new #home-middle #campaign .item-text {
 position:absolute;
  top:15%;
}

.home .new #home-bottom {
  background:none;
}

.home .new #home-bottom .box-orange {
 float:left;
  width:100%;
  padding: 20px 0;
}

.home .new #home-bottom h2 {
  color:#fff;
  background: none /*transparent url("images/bg_h2_white.png") no-repeat scroll left top*/;
  font-size:48px;
}

.home .new #home-bottom .grid_12 {
margin-top:2em;	
}

.home .new #home-bottom #videos {
padding:20px 0 20px 0;  
  height:100%;
}

.home .new #home-bottom #videolisting {
    margin-top: 0px;
    position: relative;
}

.home .new #home-bottom #videolisting .item-title{
  background:none;
  color:#fff;
  font-size:32px;
  line-height:1.1;
  /*text-transform:uppercase;*/
  font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;
  font-weight:700;
}

.home .new #home-bottom #videolisting .item-title a {
color:#fff;  
}

.home .new #home-bottom #videolisting #video-main {
height:540px; 
  padding:0;
  position:relative;
  text-align:center;
}

.home .new #home-bottom #videolisting .item-text2 {
  position:absolute;
  bottom:60px;
  margin-right:0;
  margin-left:0;  
}

.home .new #home-bottom #videolisting .video-secondary {
height:260px; 
  padding:0;
  position:relative;
  text-align:center;
}

.home .new #home-bottom #apps {
padding-bottom: 0px;
padding-top: 0px;	
  position:relative;
}

.home .new #home-bottom #apps .item-pic {
 width: 603px;
height: 738px; 
}

.home .new #home-bottom #apps .item-text {
 position:absolute;
  top:15%;
}

.home .new #brewards {
  background: transparent url("../images/home/bg_brewards.jpg") no-repeat scroll center top;
padding: 0em 0px 24em;
  margin-bottom:4em;
  margin-top:2em;
}

.home .new #brewards #ad {
 z-index:1;
  margin-left: 5px;
width: 552px;
height: 448px;
}

.home .new #brewards  .grid_5 {
margin-top:16em;  
}

.home .new #brewards  .grid_5 h3 {
    color:#fff;
  /*text-transform:uppercase;*/
  letter-spacing:1px;
  margin-bottom: 30px;
  font-size: 28px;
}

.home .new #brewards  #firstad {
  height: 316px;
width: 414px;
margin-bottom: 3em;
}



/* INSIDE PAGES */

.inside.new, .inside.generic.new  {
	width:100%;
  background:repeat-x top center url("http://bpartofit.com/wp-content/themes/bp2016/images/home/bg_homepage.png");
}

.inside.generic.new #mainnav {
  background:none;
}

.inside .new h2, .inside .new h3 {
font-weight:700;
font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;
color: #192F41;
text-transform:uppercase;
letter-spacing:1px;
}

.inside.new .item-text h3, .inside.new .item-text p, .inside.new .item-text .bn-outline, .inside.new .item-text  ul{
  margin:15px;
}

.inside .new #inside-bottom .item-text h3, .inside.new #inside-bottom .item-text p, .inside.new #inside-bottom .item-text .bn-outline, .inside.new  #inside-bottom .item-text  ul{
margin: 15px 15px 15px 35px;
}

.inside.new #entry-content #inside-top {
  padding-top:0;
}

.inside.new #inside-top #carousel-primary {
 height:700px !important; 
  position:relative;
}

.inside .new #inside-top #carousel-primary #item-pic {
height:100%;  
}

.inside .new #inside-top #carousel-primary #item-text {
    bottom: -80px;
    position: absolute;
    width: 55%;
    margin: 5% 5% 5% 20%;
    padding: 15px 15px 35px 15px;
}

.inside .new #inside-top #carousel-primary #item-text h3 {
 font-size:48px;
  line-height:1;
  margin-bottom:10px;
  font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;
}

.inside.new #inside-top #carousel-primary #item-text p {
 width:70%; 
  font-size:28px;
}

.inside .new #inside-top #secondarycarousels {
 margin-bottom:-10px; 
 padding-bottom:0; 
}

.inside .new #inside-top .carousel-secondary .box-half {
margin-bottom: -5px;
background:#80BD01;
max-height: 358px;
overflow: hidden;
}

.inside .new #inside-top .carousel-secondary .item-pic img {
 height:358px !important; 
}

.inside .new #inside-top .carousel-secondary .item-text {
  padding:20px 0 20px 0;
  height: 252px;
  text-align:center;
    	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.inside .new #inside-top .carousel-secondary .item-text h3 {
  line-height:1.1;
  font-size:28px;
}

.inside .new #inside-top .carousel-secondary .item-text p {
	line-height:1.1;
  font-size:22px;

}

.inside .new #inside-top .carousel-secondary .item-text .bn-outline {
  margin-top:20px;
 margin-left:33%; 
}

.inside .new #inside-top .carousel-secondary .box-half:nth-child(2) .item-pic{
 float:right; 
}

.inside.new .new #inside-bottom {
 padding-top:4em; 
}

.inside .new #inside-bottom .item {
position:relative;  
  margin-bottom:2em;
}

.inside .new #inside-bottom .item-pic {
 width: 603px;
height: 738px;
}

.inside .new #inside-bottom .item:nth-child(even) .item-pic {
 margin-left:35%;
}

.inside .new #inside-bottom .item:nth-child(odd) .item-pic {
 margin-left:0%;
}

.inside .new #inside-bottom .item-text {
	height: 300px;
margin-top:20px;
  margin-bottom:40px;
  padding-top:40px;
  position:absolute;
  top:15%;
}

.inside .new #inside-bottom .item-text h3 {
font-size: 28px;
  line-height:1.1;
  letter-spacing:1px;
}

.inside .new #inside-bottom .item:nth-child(even) .item-text{
  left:0;  
}

.inside.single.new #mainnav {
 background:none; 
}

.inside.single.new #mainnav li a:hover, .inside.single.new #mainnav li.current-menu-parent a {
    color:#80BD01;
}

.inside.single.new #insidecontent {
  margin-top:-10px;
}

.inside.single.new #toparea {
 padding-top:0; 
}

.inside.single.new #pagetitle {
  height:700px !important;
  position:relative;
}

.inside.single.new #pagetitle .item-pic {
   width: 603px;
height: 738px;
}

.inside.single.new #pagetitle .item-text {
  height: 300px;
margin-top:20px;
  margin-bottom:40px;
  padding:40px 25px;
  position:absolute;
  top:15%;
}

.inside.single.new #pagetitle .item-text h1 {
  font-size:48px;
  line-height:1;
  margin-bottom:10px;
  font-weight:700;
  text-transform:uppercase;
  text-shadow:none;
  font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;
}

.inside.single.new #thewords {
text-align:left;  
  padding-top:2em;
}

.inside.single.new #relatedcontent {
 text-align:center;
  margin-bottom:2em;
}

.inside.single.new #relatedcontent h3 {
  font-family:'glacial';
  letter-spacing:1px;
  font-weight:normal;
  font-size:28px;
  margin-bottom:10px;
}

.inside.single.new #relatedcontent li {
float:left;
  width:30%;
  text-align:center;
}

.inside.single.new #relatedcontent li .crp_title {
 float:left;
  width:100%;
  margin-top:10px;
}

.inside.single.new #relatedcontent li a {
 font-size:22px; 
  line-height:1;
  color:#000;
  font-family:'glacial_bold';
}