charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 479px) and (min-width: 320px){
  	body {
      background: #fff url(../images/bg_header.png) center 40px repeat-x;
    }

  #wrap #header {
   margin-top:40px; 
  }

  #mainnav {
     display:none; 
    }
    
    #mobiletoggle {
      display: block;
      position: absolute;
      left: 35%;
      top: 10px;
      font-weight: bold;
      padding-left: 30px;
      font-size: 20px;
      padding: 5px 10px 5px 40px;
  	z-index:29999;
  }
    
    #mobilenav ul {
  padding-left:10px;	
  }

  #mobilenav li {
  line-height:2;
  font-size:17px;
  }

  #footer #footer-content ul {
      text-align: left;
  }

  /* Home */

  .home #midarea #news-featured {
   padding-top:0; 
  }

  .home #hashtag {
   display:none; 
  }

  .home #infobox.grid_2 {
   margin-left:0;
    margin-bottom:0;
  }

  #mediacentre .responsive-tabs__heading{
  box-shadow:none;
    border-radius:0;
    background:none;
    z-index: -1;
  }

  .home #mediacentre .content li {
  width:90%;	
   min-height:auto;
  }

  .welcome {
  display:none;	
  }

  /* Inside */

  .inside #insidecontent {
  	background:none;
  }

  #sidebar {
  display:none;	
  }

  #mainpic {
   display:none; 
  }
  .inside #pagetitle {
   margin-top:-30px; 
    margin-left:0;
    margin-bottom: 90px;
  }

  .inside #copy ol li::before {
  height:20px;
  }
}