/*Edit Bar*/
.grippie {
  width: 720px;
}

body.navbar-fixed #navbar-administration.navbar-oriented, #navbar-administration.navbar-oriented .navbar-bar, #navbar-administration.navbar-oriented .navbar-tray {
     top: 30px;
}
.navbar-toggle-orientation{
    display:none !important;
}

ul.tabs.primary {
    position: fixed;
    right: 50px;
    top: 40px;
    z-index: 999;
}
.no-bullets ul li {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0;
}

#mainnav .active{
	color: #FFF;
}