/* Refining responsive behaviour between 'medium' and desktop */
@media screen and (max-width:767px) and (min-width: 480px){

  	body {
      background: #fff url(../images/bg_header.png) center 40px repeat-x;
    }

  #logo {
  width:385px;  
  }

  #wrap #header {
   margin-top:40px; 
  }

  #mainnav {
     display:none; 
    }
    
    #mobiletoggle {
      display: block;
      position: absolute;
      left: 35%;
      top: 10px;
      font-weight: bold;
      padding-left: 30px;
      color: #DC5500;
      font-size: 20px;
      padding: 5px 10px 5px 40px;
  	z-index:29999;
  }
    
    #mobilenav ul {
  padding-left:10px;	
  }

  #mobilenav li {
  line-height:2;
  font-size:17px;
  }

  #footer #footer-content ul {
      text-align: left;
  }

  /* Home */

  .home #midarea #news-featured {
   padding-top:0; 
    width:20%;
  }
  .home #midarea small {
   width:100%; 
  }
  .home #midarea #slideshow {
   width:75%; 
  }

  .home #about,.home #ask-expert img,.home #whoqa img{
   min-width:205px !important; 
  }
  .home #whatszika.grid_5 {
    margin-left:50px;
  }

  .home #hashtag {
    width:49%;
    padding-top:50px;
  }

  .home #prevention {
   width:49.5%; 
  }

  .home #spread {
   width: 24%; 
    padding-top:83px;
  }

  .home #cases {
     width: 24%; 
  }

  .home #states {
   width:48%; 
    margin-left:0;
  }

  .home #infobox.grid_2 {
   margin-left:0;
    margin-bottom:0;
    width:25%;
  }

  .home #bottomarea .grid_2 {
      width: 185px;
  }
  #mediacentre .push_1 {
  padding-left:0;  
  }

  #mediacentre .responsive-tabs__heading{
  box-shadow:none;
    border-radius:0;
    background:#none;
  }

  .container_12 .responsive-tabs__list__item {
      padding: 10px 10px;
  }

  .home #mediacentre .content li {
  width:90%;	
   min-height:auto;
  }

  .welcome {
  display:none;	
  }



  /* Inside */

  .inside #insidecontent {
  	background:none;
  }

  .inside #insidecontent #copy.grid_9 {
      padding-left: 0px;
      left: 0;
  	width:80%;
  }



  #sidebar {
  display:none;	
  }

  #mainpic {
   display:none; 
  }
  .inside #pagetitle {
   margin-top:-30px; 
    margin-left:0;
    margin-bottom: 90px;
  }

  .inside #copy ol li::before {
  height:20px;
  }
}